@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(27, 27, 27, 0.95);
    color: white;
    overflow-x: hidden;
}


// team-section-part
.team-section{
    width: auto;
    padding: 0;
    height: 130px;
    display: flex;
    flex-direction: column;
    background: rgba(63, 63, 63, 1);
    margin-top: 15px;
    border-radius: 5px;
}
// team-section-title
.team-section .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.team-section .title p{
    margin-left: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: sans-serif;
}
#title-vm{
    font-size: 10px;
    color: #b6b6b6;
    padding: 5px;
    margin-right: 14px;
}
.team-section .team-box{
    width: auto;
    height: 120px;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

// team-model

.team-section .team-box .team-model{
    width: 100px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}
.player-model-vm{
    font-size: 12px;
}
// player section
.player-section{
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
// player section title
.player-section .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.player-section .title p{
    margin-left: 24px;
    font-size: 15px;
    font-family: sans-serif;
}
.player-section .player-box{
    width: auto;
    position: relative;
    height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.player-section .player-box .player-model{
    position: relative;
    width: 100px;
    height: 140px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px white solid;
    border-radius: 5px;
}
.player-section .player-box .player-model img{
    max-width: 100px;
    min-height: 135px;
    border-radius: 5px;
    background-position: center;
}
.player-section .player-box .player-model .name{
    position: absolute;
    bottom: -1px;
    width: 100px;
    height: 30px;
    background: rgba($color: rgb(255, 255, 255), $alpha: 0.8);
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    justify-content: center;
    border-radius: 0 0 5px 5px ;
}
.player-section .player-box .player-model .name p{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.player-section .player-box .player-model-vm{
    border-radius: 0;
    border: none;
    text-align: center;
    margin-left: 5px;
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


// news-section
.news-section{
    width: auto;
    height: 210px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    
}
// news section title
.news-section .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.news-section .title p{
    margin-left: 24px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: sans-serif;
}
//news-box
.news-section .news-box{
    width: auto;
    position: relative;
    height: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}
//news model
.news-section .news-box .news-model{
    position: relative;
    min-width: 300px;
    height: 160px;
    border: 1px white solid;
    margin: 0 10px;
    border-radius: 5px;
    // background: white;
}
//news-model image
.news-section .news-box .news-model img{
    min-width: 299px;
    max-height: 160px;
    border-radius: 5px;
    background-position: center;
}
//news model name tag
.news-section .news-box .news-model .name{
    width: 300px;
    position: absolute;
    display: flex;
    align-items: center;
    height: 50px;
    bottom: -1px;
    background: rgba($color: white, $alpha: 0.8);
    text-align: center;
    color: black;
    border-radius: 0 0 5px 5px;
}
.news-section .news-box .news-model .name p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
//news model view more 
.news-section .news-box .news-model-vm{
    text-align: center;
    margin-left: 5px;
    font-size: 12PX;
    font-family: sans-serif;
}

// hide scrollbar
.player-section .player-box::-webkit-scrollbar,.news-section .news-box::-webkit-scrollbar,.team-section .team-box::-webkit-scrollbar, body::-webkit-scrollbar{
    width: 0px;
}


//navigation-box
.navigation-box{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background: #3F3F3F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
.navigation-box .nav-box{
    padding: 0 10px;
    margin: 0 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navigation-box .active{
    background: rgba($color: white, $alpha: 0.2);
    border-radius: 10px;
}
.navigation-box .nav-box img{
    max-width: 20px;
    min-height: 20px;
}

// webpage-loading

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($color: #3f3f3f, $alpha: 0.9);
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}